.container{
    background-image: url("Rectangle 1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.display-4{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 60px;
    color: #DDA09F;
    text-align: center;  
    padding-top: 5%;
}

.lead{
    font-family: 'Roboto', sans-serif;
    color: #5A5A55;
    text-align: center;
    padding-bottom: 5%;
}


.int{
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    color: #DDA09F;
    text-align: center;
    font-size: 40px;
    padding-top: 5%;
}

.in{
    font-family: 'Roboto', sans-serif;
    color: #5A5A55;
    font-size: 17px;
    padding-left: 5%;
    padding-right: 5%;
    Padding-bottom: 3%;
}

.hob{
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    color: #DDA09F;
    text-align: center;
    font-size: 50px;
}

.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-img{
    height: 400px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-text{
    font-family: 'Roboto', sans-serif;
    color: #5A5A55;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
}

.hwstuff{
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    color: #DDA09F;
    text-align: center;
    font-size: 50px;
}

.table{
   width: 70%; 
   margin-left: auto;
   margin-right: auto;
}
.table, th, td{
    border: 2px solid black;
}

.cat{
    font-family: 'Alegreya Sans', sans-serif;
    color: #DDA09F;
    text-align: center;
    font-size: 25px; 
}

.item{
    font-family: 'Roboto', sans-serif;
    color: #5A5A55;
    text-align: center;
    font-size: 17px;
    
}

.footer{
    background-color: #5A5A55;

}
.ffoot{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 17px;
    padding-top: 3%;
    padding-left: 10%;
}
.foot{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 17px;
    text-align: center;
    padding-left: 10%;
}

.hr{
    border: 2px;
    border-color: #5A5A55;
    padding-top: 10%;
    padding-bottom: 5%
}

